In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('data.csv')
print(df.shape)
df.head()

(128, 7)

    1             2    3   4    5            6         7
0   6  Stearic_acid  120   0  0.0   522.185433  0.001985
1  12  Stearic_acid  120   0  0.0   568.725767  0.005693
2  24  Stearic_acid  120   0  0.0  1216.641667  0.012296
3  48  Stearic_acid  120   0  0.0    61.456300  0.070099
4   6  Stearic_acid  108  12  0.0   394.811900  0.001675

In [8]:
df['6'] = np.log10( df['6'] )

In [9]:
df

      1                      2    3   4       5         6         7
0     6           Stearic_acid  120   0  0.0000  2.717825  0.001985
1    12           Stearic_acid  120   0  0.0000  2.754903  0.005693
2    24           Stearic_acid  120   0  0.0000  3.085163  0.012296
3    48           Stearic_acid  120   0  0.0000  1.788566  0.070099
4     6           Stearic_acid  108  12  0.0000  2.596390  0.001675
..   ..                    ...  ...  ..     ...       ...       ...
123  48  Glyceryl_monostearate   96  24  0.0025  2.321297  0.078288
124   6  Glyceryl_monostearate   72  48  0.0025  1.959341  0.004510
125  12  Glyceryl_monostearate   72  48  0.0025  2.997816  0.014609
126  24  Glyceryl_monostearate   72  48  0.0025  2.394358  0.039650
127  48  Glyceryl_monostearate   72  48  0.0025  0.937405  0.085419

[128 rows x 7 columns]